# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
SHELL=/bin/bash
BASH_ENV=/home/ubuntu/.bashrc
PATH=$PATH:/bin:/usr/bin:/home/ubuntu/.local/bin:/sbin:/usr/sbin
# m h  dom mon dow   command
# CANADARASP
00 00 * * * source ~/.bashrc ; /home/ubuntu/canadarasp/check-service.sh
15 01 * * * source ~/.bashrc ; /home/ubuntu/canadarasp/aws-utils/download-data-and-start-server.sh hrdps >> /tmp/cronlog 2>&1
30 03 * * * source ~/.bashrc ; /home/ubuntu/canadarasp/check-service.sh
15 08 * * * source ~/.bashrc ; /home/ubuntu/canadarasp/aws-utils/download-data-and-start-server.sh gdps >> /tmp/cronlog 2>&1
05 08 * * * source ~/.bashrc ; /home/ubuntu/canadarasp/make-windgram-dirs.sh
30 12 * * * source ~/.bashrc ; /home/ubuntu/canadarasp/aws-utils/download-data-and-start-server.sh hrdps >> /tmp/cronlog 2>&1
00 *  * * * source ~/.bashrc ; /home/ubuntu/canadarasp/check-maps.sh
# 12 30 was 13 30... could be as early as 11 00??
# SURFACE GDPS
00 5 * * * source ~/.bashrc ; (cd /home/ubuntu/hrdps-coastal-info/ ; ./upload-files-to-s3.lisp gdps >> /tmp/cronlog)  # 00
15 6 * * * source ~/.bashrc ; /home/ubuntu/hrdps-coastal-info/check-service.sh glb 42
# 00 01 * * * source ~/.bashrc ; /home/ubuntu/hrdps-coastal-info/trim-all.sh glb
00 15 * * * source ~/.bashrc ; /home/ubuntu/hrdps-coastal-info/check-all.sh glb
# SURFACE HRDPS
30 1 * * * source ~/.bashrc ; (cd /home/ubuntu/hrdps-coastal-info/; ./upload-files-to-s3.lisp hrdps >> /tmp/cronlog)
30 8 * * * source ~/.bashrc ; (cd /home/ubuntu/hrdps-coastal-info/; ./upload-files-to-s3.lisp hrdps >> /tmp/cronlog)
30 14 * * * source ~/.bashrc ; (cd /home/ubuntu/hrdps-coastal-info/; ./upload-files-to-s3.lisp hrdps >> /tmp/cronlog)
30 21 * * * source ~/.bashrc ; (cd /home/ubuntu/hrdps-coastal-info/; ./upload-files-to-s3.lisp hrdps >> /tmp/cronlog)
45 1 * * * source ~/.bashrc ; /home/ubuntu/hrdps-coastal-info/check-service.sh hrdps_continental  16 # 18
45 8 * * * source ~/.bashrc ; /home/ubuntu/hrdps-coastal-info/check-service.sh hrdps_continental  15 # 00
45 14 * * * source ~/.bashrc ; /home/ubuntu/hrdps-coastal-info/check-service.sh hrdps_continental 15 # 06
45 21 * * * source ~/.bashrc ; /home/ubuntu/hrdps-coastal-info/check-service.sh hrdps_continental 15 # 12
00 15 * * * source ~/.bashrc ; /home/ubuntu/hrdps-coastal-info/check-all.sh hrdps_continental
# 00 02 1 * * source ~/.bashrc ; /home/ubuntu/hrdps-coastal-info/trim-all.sh hrdps_continental
00 01 * * * /usr/sbin/logrotate -l /tmp/surface-log-rotate-log -s /tmp/surface-log-state /home/ubuntu/hrdps-coastal-info/logrotate.conf 
